{{>header}}
    
      <h1>{{title}}</h1>
      <img src="/images/rop.jpg">
      <p>created by {{name}}</p>

      <br>
      <br>
      <form>
      <input placeholder="location">
      <button>search</button>
      <br>
      </form>
      <p class="show1"></p>
      <p class="show2"></p>
      <br>
{{>footer}}