<!DOCTYPE html>
<html>
  <head>
      <title>{{titleee}}</title>
      <link rel="stylesheet" href="/css/style.css">

   
  </head>
  <body>
      <div>
          <a href="/">weather</a>
          <a href="/about">about</a>
          <a href="/help">help</a>
      </div>